@model CVMatchPro.Models.CV

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FichierNom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FichierNom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomExtrait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomExtrait)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailExtrait)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailExtrait)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidat.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
